adafruit-blinka==8.27.0 ; python_version >= "3.10" and python_version < "4.0"
adafruit-circuitpython-busdevice==5.2.6 ; python_version >= "3.10" and python_version < "4.0"
adafruit-circuitpython-logging==5.2.5 ; python_version >= "3.10" and python_version < "4.0"
adafruit-circuitpython-minimqtt==7.5.6 ; python_version >= "3.10" and python_version < "4.0"
adafruit-circuitpython-requests==2.0.3 ; python_version >= "3.10" and python_version < "4.0"
adafruit-circuitpython-typing==1.9.6 ; python_version >= "3.10" and python_version < "4.0"
adafruit-platformdetect==3.56.0 ; python_version >= "3.10" and python_version < "4.0"
adafruit-pureio==1.1.11 ; python_version >= "3.10" and python_version < "4.0"
pyftdi==0.55.0 ; python_version >= "3.10" and python_version < "4.0"
pyserial==3.5 ; python_version >= "3.10" and python_version < "4.0"
pyusb==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
